<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bayesian Network Development and Validation</title>

    <!--------general ids------------------------>
    <script src="general_ids.js" type="text/javascript"></script>

    <!--------libraries------------------------>
    <script src="libraries/d3js.v6/d3js.v6.js" type="text/javascript"></script>
    <script src="libraries/jquery/jquery.min.js" type="text/javascript"></script>

    <script src="libraries/tooltip_tippy/popper.min.v6.js" type="text/javascript"></script>
    <script src="libraries/tooltip_tippy/tippy_v6.js" type="text/javascript"></script>

    <script src="libraries/fstdropdown/fstdropdown.min.js" type="text/javascript"></script>
    <link href="libraries/fstdropdown/fstdropdown.min.css" rel="stylesheet">

    <script src="libraries/html5sortable/html5sortable.min.js"></script>

    <script src="libraries/dagre/dagre.min.js" type="text/javascript"></script>

    <script src="libraries/editable_grid/editablegrid.js" type="text/javascript"></script>
    <script src="libraries/editable_grid/editablegrid_editors.js" type="text/javascript"></script>
    <script src="libraries/editable_grid/editablegrid_renderers.js" type="text/javascript"></script>
    <script src="libraries/editable_grid/editablegrid_utils.js" type="text/javascript"></script>
    <script src="libraries/editable_grid/editablegrid_validators.js" type="text/javascript"></script>
    <link href="libraries/editable_grid/editablegrid.css" rel="stylesheet">

    <!--------multi languages------------------------>
    <script src="multi_language_strings/language_strings.js" type="text/javascript"></script>

    <!--------model------------------------>
    <script src="model/model.js" type="text/javascript"></script>
    <script src="model/model_variables.js" type="text/javascript"></script>

    <!--------controller------------------------>
    <script src="controller/controller.js" type="text/javascript"></script>

    <!--------view------------------------>
    <script src="page_transition.js" type="text/javascript"></script>
    <script src="view/data_overview_structure_learning/clinical_workflow_groups.js" type="text/javascript"></script>
    <script src="view/initialize_header.js" type="text/javascript"></script>
    <script src="view/data_overview_structure_learning/network_dagre.js" type="text/javascript"></script>

    <script src="view/structure_and_parametrization_validation/validation_network_view.js" type="text/javascript"></script>
    <script src="view/structure_and_parametrization_validation/select_variable_under_validation.js" type="text/javascript"></script>
    <script src="view/general_functions.js" type="text/javascript"></script>

    <script src="view/model_validation/ordered_node_list_view.js" type="text/javascript"></script>
    <script src="view/model_validation/patient_case_investigation.js" type="text/javascript"></script>


    <!--------style------------------------>
    <link href="style_general.css" rel="stylesheet">
    <link href="style_structural_validation.css" rel="stylesheet">
    <link href="style_network.css" rel="stylesheet">
</head>


<body>
<div class="whole_view" id="whole_view">

    <div class="heading" id="heading">
        <div class="back_button" id="id_header_back_button"></div>
        <div class="heading_text">
            <p class="h1" id="header_text"></p>
        </div>
        <div class="save_button"></div>
    </div>


    <div class="main_content" id="main_content">
        <div class="content">
            <div class="top_div_intro" id="general_information">
                <p>You have learnt the model using the validated structure and the available data for parametrization.
                    Of course, this parametrization needs to be validated to handle biases from the data and check for plausibility.</p>
                <p>To validate the parametrization, we are comparing the computed probability distributions resulting from our sets of
                patient-specific information, so called evidence items, with the given information in our training dataset. In case of
                differences between the recommendation and given information entity, the user needs to check for the plausibility of the computed result.</p>
<!--                <p>You have following interactive validation functionalities:</p>-->
<!--                <p style="margin-left:30px;">&#9679 You can update the node names via double-click on the node label.</p>-->
<!--                <p style="margin-left:30px;">&#9679 You can click on a node, keep the mouse down, and draw a path to a child node (from cause to effect).</p>-->
            </div>
            <div class="top_div_overview" id ="id_network_view"></div>
            <div class="edge_node_structure_validation" style="height: 800px; width: calc(50% - 40px);">
                <p class="h2" style="margin-top: 0;margin-bottom:10px;">Nodes Ordered by Number of Distinctions between Computed Recommendation and Given
                    Information for each Patient Case</p>
                <!--                <p>The learning algorithm has learnt following individual graphs using the best learning algorithm: </p>-->
                <div id="nodes_overview" style="height: calc(100% - 85px); width: 100%;"></div>
            </div>
            <div class="edge_node_structure_validation" style="height: 800px; width: calc(50% - 40px);">
                <p class="h2" style="margin-top: 0;margin-bottom:10px;">Plausibility of Computed Recommendations per Patient Case Validation</p>
                <p>To validate the model, we have to start with nodes having no children (impact to other nodes) since the children can have an indirect impact on the parents.</p>
                <p id="node_under_validation_p">Node under validation:</p>
                <div id="patient_cases_validation_view" style="height: 100%; width: 100%;"></div>
            </div>
<!--            </div>-->
            <div class="steps_structure_validation_div notes_comments_structure_validation_div" id="notes_comments_structure_validation_div">
                <p class="h3">Notes/Comments</p>
                <textarea class="notes_comments_input" id ="notes_comments_text" name="Text1" placeholder="Insert your notes/comments here ..."></textarea>
                <input class="button" id="pubmed_button" onclick="go_to_pubmed()"
                       style="position:relative; float: right;">
            </div>

        </div>
    </div>
    <div class="footer" id="footer">
        <div class="content">
            <div id="myProgress">
                <div id="myBar">0%</div>
            </div>

            <input class="button"
                   id="forward_button" onclick="footer_forward_button()" style="position:relative; float: right;
                   margin-bottom: 20px; background-position-x: -5px"
                   type="submit"
                   value="     Save">
<!--            disabled = "disabled" -->
        </div>
    </div>
</div>

<script>
    current_html_page = 3;
    let structure_or_parametrization = false;

    initialize_header(lang_id_model_validation);

    function go_to_pubmed() {
        const url = "https://pubmed.ncbi.nlm.nih.gov/";
        let win = window.open(url, '_blank');
        win.focus();
    }

    d3.select('#' + id_main_content).style('height', d3.select('#' + id_main_content).select('.' + id_content).style('height'));

    load_data_from_backend(function (response) {
        if (response) {
            learn_parametrization_from_data(function () {

                initialize_network_view(id_network_view, 100, true, learned_structure_data, id_network_view_child);

                initialize_ordered_node_list_view('nodes_overview');
                initialize_patient_case_investigation('patient_cases_validation_view');

                setTimeout(() => {
                    d3.select('#' + id_main_content).style('height', d3.select('#' + id_main_content).select('.' + id_content).style('height'));
                }, 3*transition_duration)
            })
        }
    })
</script>
</body>
</html>