.network_label_text{
    font-size: var(--network_label-font-size);
    text-anchor: middle;
    fill: var(--main-font-color);
}

.network_group_label {
    font-size: 20px;
    font-weight: 400;
    width: calc(100%);
    margin: 30px 0;
    padding: 0 0 0 0;
    /*color: var(--main-font-color);*/
    color: black;
}