:root {
    --element-background-color: white;
    /*--element-background-color: #444168;*/
    --main-background-color: lightsteelblue;
    --main-font-color: #444168;
    --time-line-outcome-height: 200px;
    --plot-width: 960px;
    --padding: 5px;
    --min_height: 500px;
    --main-foreground-color:#a4cfd6;
    --main-margin: 30px;
    --navbar-font-color: white;
    --navbar-highlight-font-color: #7da7ca;
    --main-font-weight: 300;
    --highlight-font-weight: 700;
    --legend_height: 40px;
    --heading_height:80px;
    --footer_height:20px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--main-background-color);
    font-family: 'Fira Sans', sans-serif;
    font-weight: var(--main-font-weight);
    font-size: 22px;
    opacity: 0;
    transition: opacity .5s;
}

.whole_view {
    fill: lightblue;
    position: absolute;
    width: calc(100%);
    height: calc(100vh); /* 55vh for pictures */
}

.heading {
    position: relative;
    width: 100%;
    height: var(--heading_height);
}

.main_content {
    fill: yellow;
    position: relative;
    width: calc(100%);
    height: calc(100% - var(--heading_height) - var(--footer_height)); /* 55vh for pictures */
}

.footer {
    fill: green;
    position: relative;
    width: calc(100%);
    height: var(--footer_height); /* 55vh for pictures */
}

.content {
    width: calc(100% - 2*var(--main-margin));
    height: calc(100%);
    position: absolute;
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);

}

.h1 {
    font-size: 28px;
    font-weight: 600;
    width: calc(100% - 100px);
}

.triangle {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom left, var(--main-background-color) 0%, var(--main-background-color) 50%, #EAADF0 50%, #EAADF0 100%);
}

.button {
    position: absolute;
    border-radius: 20px;
    padding: 12px 28px;
    background-color: white;
    color: var(--main-font-color);
    border: 2px solid var(--main-font-color); /* Green */
    font-size: 28px;
}

.button:hover {
    background-color: lightcyan; /* Green */
}