.network_label_text{
    font-size: var(--network_label-font-size);
    text-anchor: middle;
    fill: var(--main-font-color);
}

.network_group_label {
    font-size: 20px;
    font-weight: 400;
    width: calc(100%);
    margin: 30px 0;
    padding: 0 0 0 0;
    /*color: var(--main-font-color);*/
    color: black;
}

.network_legend_text {
    font-size: var(--main-font-size);
    text-anchor: start;
    fill: var(--main-font-color);
    vertical-align: middle;
}

.network_circle{
    stroke: white;
    stroke-width: 4px;
    fill: var(--main-font-color);
}

.network_path{
    stroke: var(--main-font-color);
    stroke-width: 2px;
    fill: none;
}