:root {
    --steps_structure_validation_div_width: 0px;
    /*--steps_structure_validation_div_width: 250px;*/
    --notes_comments_structure_validation_div_width: 200px;
    --structure_validation_div_height: 792px;
}

.top_divs_intro_overview {
    height: 400px;
    width: calc(50% - 2 * var(--main-margin));
    position: relative;
    float: left;
    margin: var(--main-margin);
    padding: 0;
}

.top_div_overview {
    border-radius: var(--div-border-radius);
    background-color: white;
    padding: 0;
}

.steps_structure_validation_div {
    border-radius: var(--div-border-radius);
    background-color: white;
    width: var(--steps_structure_validation_div_width);
    height: var(--structure_validation_div_height);
    position: relative;
    float: left;
    padding: var(--main-margin);
}

.notes_comments_structure_validation_div {
    width: var(--notes_comments_structure_validation_div_width);
}

.structure_validation_div {
    border-radius: var(--div-border-radius);
    background-color: white;
    width: calc(100% - 6 * var(--main-margin) - var(--steps_structure_validation_div_width) - var(--notes_comments_structure_validation_div_width));
    height: var(--structure_validation_div_height);
    position: relative;
    float: left;
    padding: var(--main-margin);
    /*margin-left: var(--main-margin);*/
    margin-right: var(--main-margin);
}

.h3 {
    font-size: 24px;
    font-weight: 600;
    width: calc(100%);
    padding: 0 0 0 0;
    margin: 0;
    color: var(--main-font-color);
}

.notes_comments_input {
    margin-top: calc(2*var(--padding));
    width: calc(100% - var(--padding));
    height: calc(100% - 30px - 3 * var(--padding) - 80px);
    resize: none;
    border-radius: var(--div-border-radius);
    border: 2px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: var(--main-font-color);
    background-color: #F5F5F5;
    font-family: var(--main_font);
    font-size: var(--network_label-font-size);
}

#pubmed_button{
    float: bottom;
    position: relative;
    background-image: url(../templates/resources/img.png), none;
    background-size: 101% 104%;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 10px;
    width: calc(var(--notes_comments_structure_validation_div_width) - 60px);
}

input{
    font-family: var(--main_font);
    font-size: var(--network_label-font-size);
    padding: var(--padding);
    padding-left: calc(2*var(--padding));
    border: 2px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: var(--div-border-radius);
}

.structure_validation_content_div {
    position: relative;
    float: left;
    height: calc(100% - 30px - 2* var(--padding));
    width: calc(50% - 2* var(--padding));
    margin: var(--padding);
}

.fstdiv{
    padding: var(--padding);
    border-radius: var(--div-border-radius);
}

#structure_validation_modifications_div {
    overflow-y: scroll;
}

a { color: green; text-decoration: none; }
a:hover { text-decoration: underline; }
table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 100%; }
table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; font-weight: var(--main-font-weight)}
table.testgrid th { background: #E5E5E5; text-align: left;}
input.invalid { background: red; color: #FDFDFD; }
.editablegrid-action {width: 64px;}


#myProgress {
    position: relative;
    float: left;
    margin-top: 10px;
    width: 50%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
}

#myBar {
    width: 0%;
    height: 100%;
    background-color: var(--main-font-color);
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    color: #A9A9A9;
    border-radius: 6px;
}
