.main_content {
    height: calc(100% - var(--heading_height) - var(--footer_height));
}

.content {
    height: calc(100%);
}

.triangle {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom left, var(--main-background-color) 0%, var(--main-background-color) 50%, #EAADF0 50%, #EAADF0 100%);
}